<div class="main-login-container">
  <div class="logo-main-container">
    <div class="logo-container">
      <%= image_tag('blogify.png', alt: 'Logo', class: 'logo')  %>
    </div>
    <div class="text-container">
      <h1>Sign Up to share your thoughts with people.</h1>
    </div>  
  </div>

  <div class="sign-up-form-container">
    <div class="error-message">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <div class="sign-up border-black">
      <h1>Sign up</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-sign-up">
          <div class="form-items-sign-up">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placehoder: "Username", class: "form-fields-sign-up border-black form-title" %>
          </div>

          <div class="form-items-sign-up">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placehoder: "Email", class: "form-fields-sign-up border-black form-title"  %>
          </div>

          <div class="form-items-sign-up">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placehoder: "Password", class: "form-fields-sign-up border-black form-title" %>
          </div>

          <div class="form-items-sign-up">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placehoder: "Confirm Password", class: "form-fields-sign-up border-black form-title" %>
          </div>

          <div class="sign-btn-checkbox">
            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
          </div>
        </div>  
      <% end %>
      <div class="sign-btn-checkbox links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
