<div class="post-container">
    <h1><%= post.title  %></h1>
    <h3><%= post.created_at.strftime("%Y-%m-%d") %></h3>
    <p><%= truncate(post.text, length: 150, omission: "...") %></p>
    <div class="like-and-comment">
       Comments : <%= post.comments_counter %>,
       Likes : <%= post.likes_counter %>
    </div>
</div>